$white: #fff;
$off-white: #f8f8f8;
$grey: #c3c3c3;
$dark-grey: #767676;
$black: #000;
$faded-black: #232323;

$cw-blue: #029cbb;
$cw-blue-lighten: rgba(2, 156, 187, .33);

$ms-yellow: #fdbd00;
$ms-yellow-lighten: rgba(256, 189, 0, .5);

$google-red: #df4a32;
$google-red-lighten: rgba(223, 74, 50, .5);

$li-blue: #0077b5;
$li-blue-lighten: rgba(0, 119, 181, .5);

$twitter-blue: #1da1f2;
$twitter-blue-lighten: rgba(29, 161, 242, .5);

$font-size-small: 12px;
$font-size-normal: 16px;
$font-size-large: 18px;
$font-size-larger: 32px;
