$white: #fff;
$off-white: #f8f8f8;
$grey: #c3c3c3;
$dark-grey: #767676;
$black: #000;

$cw-blue: #1a9cb9;
$cw-blue-lighten: rgba(26, 156, 185, .33);

$font-size-small: 12px;
$font-size-normal: 16px;
$font-size-large: 18px;
$font-size-larger: 32px;
