$white: #fff;
$off-white: #f8f8f8;
$grey: #c3c3c3;
$dark-grey: #767676;
$black: #000;
$faded-black: #232323;

$cw-blue: #029cbb;
$cw-blue-lighten: rgba(2, 156, 187, .33);

$ms-yellow: #fdbd00;
$ms-yellow-lighten: hsla(45, 100%, 100%, .5);

$font-size-small: 12px;
$font-size-normal: 16px;
$font-size-large: 18px;
$font-size-larger: 32px;
