@import "components/grid";
@import "reset";
@import "vars";
@import "components";

html, body {
    color: $faded-black;
    font-family: 'Montserrat', sans-serif;
    background-color: $off-white;
    width: 100vw;
    height: 100vh;
}
