
@import "reset";
@import "vars";
@import "components/grid";
@import "components/util";
@import "components/heading";



html, body {
    color: $faded-black;
    font-family: 'Montserrat', sans-serif;
    background-color: $off-white;
}

a {
    color: $cw-blue;
}
