@import "reset";
@import "vars";
@import "components";

html, body {
    color: $faded-black;
    font-family: 'Montserrat', sans-serif;
    background-color: $off-white;
}

a {
    color: $cw-blue;
}
