<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Virtual Meeting Secretary - Register</title>
</head>

<body>
    <div class="container">
        <div class="row form full-height center-content-vertically">
            <div class="one-half column offset-by-three center-content">
                <h1 class="form-title">Registration</h1>
                <div class="step"></div>
                <div class="step current-step"></div>
                <h2 class="form-subtitle">Step 2 - Integrations</h2>
                <form>
                    <button class="integration-button google">Google</button>
                    <button class="integration-button linkedin">LinkedIn</button>
                    <button class="integration-button twitter">Twitter</button>
                    <button type="submit">FINISH</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
