<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <title>Virtual Meeting Secretary - Settings</title>
    </head>
    <body>
        <header class="private-dash-header">
            <div class="branding">
                <div class="branding-logo">
                    <img src="images/craftworkz.svg">
                </div>
                <div class="branding-text">
                    <span>Virtual</span>
                    <span>Meeting</span>
                    <span>Secretary</span>
                </div>
            </div>
            <div>
                <a href="#"><i class="fa fa-long-arrow-left"></i></a>
                <h1>Settings</h1>
            </div>
            <div class="profile">
                <span>Firstname Lastname</span>
                <div class="profile-image dropdown">
                    <img class="img-profile" onclick="triggerProfileDropdown()" src="https://s-media-cache-ak0.pinimg.com/originals/36/06/ce/3606cebe8d048b71aaea38b52c4eb4bd.jpg">
                    <div id="profileDropdown" class="dropdown-content">
                        <a href="#"><i class="fa fa-cog fa-lg"></i>Settings</a>
                        <a href="#"><i class="fa fa-sign-out fa-lg"></i>Log out</a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <div class="form five columns">
                        <h2>Profile information</h2>
                        <form>
                            <label for="first-name">First name:</label>
                            <input type="text" id="first-name" />
                            <label for="last-name">Last name:</label>
                            <input type="text" id="last-name" />
                            <label for="email">Email:</label>
                            <input type="email" id="email" />
                            <label for="phone">Telephone number:</label>
                            <input type="tel" id="phone" />
                            <button><i class="fa fa-floppy-o"></i> Save changes</button>
                            <a href="#" class="align-left">Change password</a>
                            <a href="#" class="align-right dangerous">Delete account</a>
                        </form>
                    </div>
                    <div class="form six columns offset-by-one">
                        <h2>Integrations</h2>
                        <button class="integration-button google">Google</button>
                        <button class="integration-button linkedin">LinkedIn</button>
                        <button class="integration-button twitter">Twitter</button>
                    </div>
                </div>
            </div>
        </main>
        <script src="js/main.js"></script>
    </body>
</html>
