.private-dash-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 30px 40px;

    i {
        font-size: $font-size-large;
        margin-right: 16px;
    }

    h1 {
        display: inline-block;
        padding-bottom: 8px;
        position: relative;
        text-transform: uppercase;

        &:after {
            border-bottom: 2px solid #232323;
            bottom: 0;
            content: "";
            height: 2px;
            left: 25%;
            position: absolute;
            width: 50%;
        }
    }

    .profile {
        span {
            display: inline-block;
            font-size: $font-size-normal;
            margin-right: 15px;
        }

        .profile-image {
            display: inline-block;

            img {
                border-radius: 100%;
                vertical-align: middle;
                width: 72px;
            }
        }
    }
}
