@import "vars";

.feedback {
    background: $success;
    color: $white;
    line-height: 2;
    position: fixed;
    left: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 3;

    i {
        margin-right: 8px;
    }
}
