.form {
    z-index: 1;
}

.form-instruction {
    font-size: $font-size-small;
    margin: .5rem .25rem 1rem;
}

.form-title, .form-subtitle {
    color: $cw-blue;
}

.form-title {
    color: $cw-blue;
    font-size: $font-size-large;
}

.form-subtitle {
    color: $cw-blue;
    font-size: $font-size-normal;
}
