.integration-button {
    border-radius: 8px;
    border: 0;
    box-shadow: $shadow-1;
    box-sizing: border-box;
    color: $white;
    cursor: pointer;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: $font-size-normal;
    margin-top: 1rem;
    padding: 0.75rem 1.25rem;
    width: 100%;

    &.google {
        background: $google-red;

        &.linked {
            background: $google-red-lighten;
            cursor: default;
        }

        &:hover {
            background: $google-red-darken;
            box-shadow: $shadow-2;
        }
    }

    &.linkedin {
        background: $li-blue;

        &.linked {
            background: $li-blue-lighten;
            cursor: default;
        }

        &:hover {
            background: $li-blue-darken;
            box-shadow: $shadow-2;
        }
    }

    &:focus {
        outline: none;
    }
}
