@import "vars";

.meetings-list {

    &>li {
        padding: 16px;
    }

    &>li:nth-of-type(2n) {
        background: $white;
    }

    .meeting-item {
        i {
            margin-right: 1rem;
        }
    }
}
