@import "vars";

.meetings-list {

    &>li:nth-of-type(2n) {
        background: $white;
    }

    .meeting-item {
        padding-bottom: 32px;

        i {
            margin-right: 1rem;
        }
    }
}
