.full-height {
    height: 100vh;
}

.center-content-vertically {
    align-items: center;
    display: flex;
}

.center-content {
    text-align: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.align-left {
    text-align: left;
}

.dangerous {
    color: $danger;
}

.successful {
    color: $success;
}
