.zebra-form {
    text-align: left;
}

fieldset {
    input[type="checkbox"] {
        cursor: pointer;
        margin: 1rem;
        transform: scale(1.25);
    }

    label {
        cursor: pointer;
        margin: 1rem 0;
    }

    &:nth-child(2n) {
        background: $white;
    }
}

form {
  tr {
    &:nth-child(2n){
      background: $off-white;

      td input {
        background-color: $white
      }
    }
    &:nth-child(odd){
      td input {
        background-color: $off-white;
      }
    }

    td {
      padding: 20px;
    }

  }
}
