.zebra-form {
    text-align: left;

    fieldset {

        input[type="checkbox"] {
            cursor: pointer;
            float: left;
            transform: scale(1.25);
        }

        label {
            cursor: pointer;
            display: block;
            padding: 1rem;
        }
    }

    fieldset:nth-child(2n) {
        background: $white;
    }
}
