@import "vars";

.front-branding {
  position: absolute;
  right: 2.5vw;
  top: 30px;

  .logo {
    img {
      width: 310px;
    }
  }

  .text-branding {
    font-size: $font-size-large;
  }
}

.branding {
  cursor: pointer;
  text-align: left;

  .branding-logo {
    cursor: pointer;

    img {
      width: 200px;
    }
  }
}
