@import "reset";
@import "vars";
@import "components/grid";
@import "components/util";
@import "components/heading";

html, body {
    background-color: $off-white;
    color: $faded-black;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

html {
    overflow-y: scroll;
}

a {
    color: $cw-blue;
}

p {
    margin: 16px 0;
}

section {
    margin-bottom: 32px;
}
