@import "reset";
@import "vars";
@import "components/grid";
@import "components/util";
@import "components/heading";

html, body {
    color: $faded-black;
    font-family: 'Montserrat', sans-serif;
    background-color: $off-white;
    line-height: 1.5;
}

a {
    color: $cw-blue;
}

p {
    margin: 1rem 0;
}
