@import "vars";
@import "participant";
@import "components/private-dash";
@import "components/form-text-input";
@import "components/form";
@import "components/form-button";
@import "components/zebra-form";
@import "components/modal";

.private-dash-header {
    display: flex;
    justify-content: space-between;
    margin: 30px 2.5vw;
    align-items: center;

    .equal-box {
        flex-grow: 1;
    }

    .branding {
        text-align: left;

        .branding-logo {
            img {
                width: 200px;
            }
        }
    }

    h1 {
        font-size: $font-size-large;
        position: relative;
        padding-bottom: 5px;

        &:after {
            content: "";
            position: absolute;
            width: 50%;
            height: 2px;
            bottom: 0;
            left: 25%;
            border-bottom: 2px solid #232323;
        }
    }
}

.modal-large {
  top: 20%;
}

.user-details {
  button:focus {
    outline: 0;
  }
  .toggle-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: $cw-blue;
    border-radius: 8px;
    border: 0;
    box-shadow: $shadow-1;
    box-sizing: border-box;
    color: $white;
    cursor: pointer;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: $font-size-normal;
    margin-top: 1rem;
    padding: 0.75rem 1.25rem;
    text-transform: uppercase;
    transition: all .125s ease-in-out;

    &[type="submit"]:focus {
        outline: none;
    }

    &[type="submit"]:hover {
        background: $cw-blue-darken;
    }

    i {
        margin-right: 8px;
    }

    &:disabled {
      background-color: lighten($cw-blue, 50%);
      cursor: not-allowed;
    }

    &:disabled:hover {
      background-color: lighten($cw-blue, 50%);
      cursor: not-allowed;
    }
  }

  .toggleIsDisabled {
    background-color: $off-white;
    color: darken($off-white, 50%);
  }

  form {
    table {
      margin: 0 auto;

      tr {
        td {
          &:first-child {
            text-align: right;
            padding-right: 20px;
          }
          input {
            &:disabled {
              outline: none;
              border: 0 !important;
            }
          }
        }
      }
    }

  }
}


@media (min-width: 550px) {
    .participant-row:nth-child(odd) {
        margin-left: 0;
    }
}
