@import "vars";

.timerow {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;

  .date {
    margin-right: 40px;
    min-width: 10vw;
    text-align: right;
  }
}

.public-timeline {
  h3 {
    margin: 40px 2.5vw 0;

  }

  .meeting-card {
    width: 95vw;
  }
}
