@import "vars";

.vertical {
    display: flex;
    flex-direction: column;
}

.timerow {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;

  .date {
    align-self: flex-start;
    margin: 60px 48px 0 0;
    min-width: 10vw;
    text-align: right;
  }
}

.public-timeline {
  h3 {
    margin: 40px 2.5vw 0;

  }

  .meeting-card {
    width: 95vw;
  }
}
