.timeline {

  .timerow {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;

    .bell {
      align-items: center;
      background: url('../images/bell.svg') no-repeat 15px center / 32px 32px;
      display: block;
      display: flex;
      min-height: 100px;
      transition: background 0.375s;
      vertical-align: middle;
      width: 150px;

      span {
        color: $cw-blue;
        opacity: 0;
        position: relative;
        right: -64px;
        transition: opacity 0.375s, visibility 0.375s;
        visibility: hidden;
        width: auto;
      }

      &:hover {
        background: url('../images/bellfill.png') no-repeat 15px center / 32px 32px;

        span {
          display: block;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .date {
      margin-right: 40px;
      min-width: 10vw;
      text-align: right;
    }

    .meeting-card {
      display: flex;
      min-width: 60vw;

      .time-box {
        align-items: center;
        background: $cw-blue;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        color: $off-white;
        display: flex;
        font-size: $font-size-normal;
        justify-content: center;
        padding: 20px;
        text-align: center;
        text-align: center;
        width: 100px;

        span {
          display: block;
          padding: 5px 0 5px 0;
          vertical-align: middle;
        }
      }

      .meeting-info {
        border: 1px solid $cw-blue;
        flex-grow: 4;
        padding: 10px;

        p {
          line-height: 2;
        }
      }

      .profile-image {
        align-items: center;
        background: $cw-blue;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        display: flex;
        justify-content: center;
        padding: 20px;
        text-align: center;
        width: 100px;

        img {
          border-radius: 100%;
          width: 72px;
        }
      }
    }
  }
}

.public-timeline {
  h3 {
    margin: 40px 2.5vw 0;

  }

  .meeting-card {
    width: 95vw;
  }
}
