<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- Default font -->

    <!--  Load the dependencies -->
    <script src="node_modules/core-js/client/shim.min.js" charset="utf-8"></script>
    <script src="node_modules/zone.js/dist/zone.js" charset="utf-8"></script>
    <script src="node_modules/reflect-metadata/Reflect.js" charset="utf-8"></script>

    <!-- Load angular with system js -->
    <script src="node_modules/systemjs/dist/system.src.js
    " charset="utf-8"></script>
    <script src="systemjs.config.js" charset="utf-8"></script>

    <script>
      System.import('app').catch(function(err) { console.error(err); })
    </script>

  </head>
  <body>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam ipsum quidem porro, quo vero sunt vel animi quisquam facilis repellat asperiores praesentium omnis reprehenderit quas sint iusto similique officia illo?
  </body>
</html>
