<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="assets/css/landing.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <title>Virtual Meeting Secretary - Log in</title>
    </head>
    <body>
        <div class="container">
            <form>
                <input type="text" placeholder="EMAIL" autofocus></input>
                <input type="password" placeholder="PASSWORD"></input>
                <span class="right"><a href="#">Forgot your password?</a></span>
                <button type="submit">LOG IN</button>
                <span class="right">Need an account? <a href="#">Register</a></span>
            </form>
        </div>
    </body>
</html>
