<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Virtual Meeting Secretary - Private Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="js/main.js" defer></script>
  </head>
  <body>
    <header class="private-dash-header">
      <div class="branding">
        <div class="branding-logo">
          <img src="images/craftworkz.svg">
        </div>
        <div class="branding-text">
          <span>Virtual</span>
          <span>Meeting</span>
          <span>Secretary</span>
        </div>

      </div>
      <h1>Meetings</h1>
      <div class="profile">
        <span>Firstname Lastname</span>
        <div class="profile-image dropdown">
          <img class="img-profile" onclick="triggerProfileDropdown()" src="https://s-media-cache-ak0.pinimg.com/originals/36/06/ce/3606cebe8d048b71aaea38b52c4eb4bd.jpg">
          <div id="profileDropdown" class="dropdown-content">
            <a href="#"><i class="fa fa-cog fa-lg"></i>Settings</a>
            <a href="#"><i class="fa fa-sign-out fa-lg"></i>Log out</a>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="timeline">
         <!-- columns should be the immediate child of a .row -->
         <div class="timerow">
           <div class="date">Today</div>
           <div class="card-wrapper">
              <div class="meeting-card">
                <span class="time-box">
                  <div class="time-box-container">
                    <span class="start-time">10:00</span>
                    <span> - </span>
                    <span class="end-time">11:00</span>
                  </div>
                </span>
                <span class="meeting-info">
                  <p>Sander Lenaerts</p>
                  <p>Virtual Meeting Secretary</p>
                  <p>Everest</p>
                </span>
                <span class="profile-image">
                  <img src="https://s-media-cache-ak0.pinimg.com/originals/36/06/ce/3606cebe8d048b71aaea38b52c4eb4bd.jpg">
                </span>
              </div>
           </div>
           <div class="bell">
             <span>Running late</span>
           </div>
         </div>
         <div class="timerow">
           <div class="date"></div>
           <div class="card-wrapper">
              <div class="meeting-card">
                <span class="time-box">
                  <div class="time-box-container">
                    <span class="start-time">10:00</span>
                    <span> - </span>
                    <span class="end-time">11:00</span>
                  </div>
                </span>
                <span class="meeting-info">
                  <p>Sander Lenaerts</p>
                  <p>Virtual Meeting Secretary</p>
                  <p>Everest</p>
                </span>
                <span class="profile-image">
                  <img src="https://s-media-cache-ak0.pinimg.com/originals/36/06/ce/3606cebe8d048b71aaea38b52c4eb4bd.jpg">
                </span>
              </div>
           </div>
           <div class="bell">
             <span>Running late</span>
           </div>
         </div>
         <div class="timerow padded">
           <div class="date">Friday</div>
           <div class="card-wrapper">
              <div class="meeting-card">
                <span class="time-box">
                  <div class="time-box-container">
                    <span class="start-time">10:00</span>
                    <span> - </span>
                    <span class="end-time">11:00</span>
                  </div>
                </span>
                <span class="meeting-info">
                  <p>Sander Lenaerts</p>
                  <p>Virtual Meeting Secretary</p>
                  <p>Everest</p>
                </span>
                <span class="profile-image">
                  <img src="https://s-media-cache-ak0.pinimg.com/originals/36/06/ce/3606cebe8d048b71aaea38b52c4eb4bd.jpg">
                </span>
              </div>
           </div>
           <div class="bell">
             <span>Running late</span>
           </div>
         </div>
         <div class="timerow padded">
           <div class="date">21 Feb 2017</div>
           <div class="card-wrapper">
              <div class="meeting-card">
                <span class="time-box">
                  <div class="time-box-container">
                    <span class="start-time">10:00</span>
                    <span> - </span>
                    <span class="end-time">11:00</span>
                  </div>
                </span>
                <span class="meeting-info">
                  <p>Sander Lenaerts</p>
                  <p>Virtual Meeting Secretary</p>
                  <p>Everest</p>
                </span>
                <span class="profile-image">
                  <img src="https://s-media-cache-ak0.pinimg.com/originals/36/06/ce/3606cebe8d048b71aaea38b52c4eb4bd.jpg">
                </span>
              </div>
           </div>
           <div class="bell">
             <span>Running late</span>
           </div>
         </div>
      </section>
    </main>
  </body>

</html>
