<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Virtual Meeting Secretary - Private Dashboard</title>

  <!-- Import default font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <!-- Import stylesheet -->
  <link rel="stylesheet" href="css/main.css">

  <!-- FontAwesome import -->
  <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">

</head>

<body>
  <header class="public-dash-header">
    <div class="today equal-box">
      Wednesday 15 Feb 2017
    </div>
    <div class="current-time equal-box">
      <h2>09:55</h2>
    </div>
    <span class="page-title equal-box">
        <div class="centered">
          <h1>Meetings</h1>
        </div>
      </span>

  </header>
  <main>
    <section class="timeline public-timeline">
      <!-- columns should be the immediate child of a .row -->

      <h3>Today</h3>
      <div class="timerow">
        <div class="card-wrapper">
          <div class="meeting-card">
            <span class="time-box">
                  <div class="time-box-container">
                    <span class="start-time">10:00</span>
            <span> - </span>
            <span class="end-time">11:00</span>
          </div>
          </span>
          <span class="meeting-info">
                  <p>Sander Lenaerts</p>
                  <p>Virtual Meeting Secretary</p>
                  <p>Everest</p>
                </span>
          <span class="profile-image">
                  <img src="https://s-media-cache-ak0.pinimg.com/originals/36/06/ce/3606cebe8d048b71aaea38b52c4eb4bd.jpg">
                </span>
        </div>
      </div>
      </div>
      <div class="timerow">
        <div class="card-wrapper">
          <div class="meeting-card">
            <span class="time-box">
                  <div class="time-box-container">
                    <span class="start-time">10:00</span>
            <span> - </span>
            <span class="end-time">11:00</span>
          </div>
          </span>
          <span class="meeting-info">
                  <p>Sander Lenaerts</p>
                  <p>Virtual Meeting Secretary</p>
                  <p>Everest</p>
                </span>
          <span class="profile-image">
                  <img src="https://s-media-cache-ak0.pinimg.com/originals/36/06/ce/3606cebe8d048b71aaea38b52c4eb4bd.jpg">
                </span>
        </div>
      </div>
      </div>
      <h3>Tomorrow</h3>
      <div class="timerow padded">
        <div class="card-wrapper">
          <div class="meeting-card">
            <span class="time-box">
                  <div class="time-box-container">
                    <span class="start-time">10:00</span>
            <span> - </span>
            <span class="end-time">11:00</span>
          </div>
          </span>
          <span class="meeting-info">
                  <p>Sander Lenaerts</p>
                  <p>Virtual Meeting Secretary</p>
                  <p>Everest</p>
                </span>
          <span class="profile-image">
                  <img src="https://s-media-cache-ak0.pinimg.com/originals/36/06/ce/3606cebe8d048b71aaea38b52c4eb4bd.jpg">
                </span>
        </div>
      </div>
      </div>

      <h3>Friday</h3>
      <div class="timerow padded">
        <div class="card-wrapper">
          <div class="meeting-card">
            <span class="time-box">
                  <div class="time-box-container">
                    <span class="start-time">10:00</span>
            <span> - </span>
            <span class="end-time">11:00</span>
          </div>
          </span>
          <span class="meeting-info">
                  <p>Sander Lenaerts</p>
                  <p>Virtual Meeting Secretary</p>
                  <p>Everest</p>
                </span>
          <span class="profile-image">
                  <img src="https://s-media-cache-ak0.pinimg.com/originals/36/06/ce/3606cebe8d048b71aaea38b52c4eb4bd.jpg">
                </span>
        </div>
      </div>
      </div>
    </section>
  </main>
  <!-- Import the main JavaScript file -->
  <script src="js/main.js"></script>
</body>

</html>