<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="/css/main.css">
        <title>Virtual Meeting Secretary - Log in</title>
    </head>
    <body>
        <div class="container">
            <div class="row form full-height center-content-vertically">
                <div class="one-half column offset-by-three center-content">
                    <h1 class="form-title">Registration</h1>
                    <div class="step current-step"></div>
                    <div class="step"></div>
                    <h2 class="form-subtitle">Step 1 - Credentials</h2>
                    <form>
                        <input type="text" placeholder="EMAIL" autofocus></input>
                        <input type="password" placeholder="PASSWORD"></input>
                        <input type="password" placeholder="REPEAT PASSWORD"></input>
                        <button type="submit">NEXT</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
