<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Virtual Meeting Secretary - Register</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="row form full-height center-content-vertically">
            <div class="one-half column offset-by-three center-content">
                <h1 class="form-title">Registration</h1>
                <div class="step current-step"></div>
                <div class="step"></div>
                <h2 class="form-subtitle">Step 1 - Credentials</h2>
                <form>
                    <input type="text" id="email" placeholder="EMAIL" autofocus />
                    <input type="password" id="password" placeholder="PASSWORD" />
                    <div id="rating"></div>
                    <input type="password" id="repeat-password" placeholder="REPEAT PASSWORD" />
                    <button type="submit">NEXT</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>